In [ ]:
from datasets import load_dataset

dataset = load_dataset("AzharAli05/Resume-Screening-Dataset")

dataset.save_to_disk("Dataset/Resume_screening_dataset")

In [ ]:

import pandas as pd

dataframe1 = pd.read_csv("Dataset/resume_screening_dataset.csv")
dataframe1 = dataframe1[['Resume' , 'Decision' , 'Job_Description']]
# dataframe1['Decision'] = dataframe1['Decision'].apply(lambda  x : 1 if x.lower() == 'select' else 0)


dataframe2 = pd.read_csv("Dataset/job_applicant_dataset.csv")
dataframe2 = dataframe2[['Resume' , 'Job Description' , 'Best Match']]

dataframe2.rename(columns={'Job Description' : "Job_Description" , "Best Match" : "Decision"} , inplace=True)


df = pd.concat([dataframe1 , dataframe2] , axis=0 , ignore_index=True).reset_index(drop=True)

df.tail()

,Resume,Decision,Job_Description
20169,"Proficient in Biology, Regulatory Compliance, ...",0,A Biomedical Engineer designs and develops med...
20170,"Proficient in Communication, Teamwork, Lesson ...",0,A Teacher shapes the future of students by del...
20171,"Proficient in Medical Terminology, Critical Th...",0,"Diagnose and treat illnesses, prescribe medica..."
20172,"Proficient in Exercise Programming, Motivation...",1,A Fitness Coach is responsible for helping cl...
20173,"Proficient in Content Strategy, Copywriting, C...",0,"As a Content Writer, you will create written m..."

In [ ]:
import re

df['Resume'] = df['Resume'].apply(lambda x : re.sub('Proficient in' , '' , x))
df['Resume'] = df['Resume'].apply(lambda x : re.sub("Here's a professional resume for" , '' , x))

In [3]:
df['Decision'].unique()

array([0, 1])

In [4]:
print("Null values :-\n" , df.isnull().sum())

Null values :-
 Resume             0
Decision           0
Job_Description    0
dtype: int64

In [5]:
# import nltk
# nltk.download('all')

In [6]:

import string
from nltk.tokenize import word_tokenize
from wordcloud import STOPWORDS


punctuations = string.punctuation
translator = str.maketrans('', '', string.punctuation)

def preprocess_text(text :str):
    # Remove punctuations
    text = text.translate(translator)

    # Tokenize the sentence
    tokenized_words = word_tokenize(text)


    cleaned_words = [word for word in tokenized_words if word not in STOPWORDS]


    return ' '.join(cleaned_words)


df[['Resume', 'Job_Description']] = df[['Resume', 'Job_Description']].map(preprocess_text)

In [7]:
# These are repeating a lot in data frame 1 

words_to_remove = ["here", "professional", "resume"]

# Create regex pattern: \b(word1|word2|word3)\b
pattern = r'\b(' + '|'.join(words_to_remove) + r')\b'

df['Resume'] = df['Resume'].str.replace(pattern, '', regex=True, case=False)

# Optional: clean up extra spaces
df['Resume'] = df['Resume'].str.replace(r'\s+', ' ', regex=True).str.strip()

In [8]:
cleaned_df=df.copy()

In [10]:
cleaned_df.tail()

,Resume,Decision,Job_Description
20169,Biology Regulatory Compliance Product Developm...,0,A Biomedical Engineer designs develops medical...
20170,Communication Teamwork Lesson Planning Motivat...,0,A Teacher shapes future students delivering en...
20171,Medical Terminology Critical Thinking Surgical...,0,Diagnose treat illnesses prescribe medication ...
20172,Exercise Programming Motivation Physical Thera...,1,A Fitness Coach responsible helping clients ac...
20173,Content Strategy Copywriting Communication Cre...,0,As Content Writer will create written material...

In [11]:
import os

os.makedirs("Dataset/Cleaned_Dataset" , exist_ok=True)

cleaned_df.to_csv("Dataset/Cleaned_Dataset/cleaned_resume_screening.csv" , index=False)